MONGODB_URI=mongodb://wikinfobox-mongodb:27017
MONGODB_DATABASE=wikinfobox
MONGODB_COLLECTION=countries

WIKIPEDIA_BASE_URL=https://en.wikipedia.org
WIKIPEDIA_UN_MEMBER_STATES_URL=https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations
WIKIPEDIA_REQUEST_TIMEOUT=15
WIKIPEDIA_MAX_RETRIES=3
WIKIPEDIA_BACKOFF_FACTOR=0.5
WIKIPEDIA_USER_AGENT=WikipediaInfoboxCollector/1.0 (student academic project)

API_HOST=wikinfobox-api
API_PORT=8970
STREAMLIT_APP_PORT=8980